@import "../styles/variables";

.home {
    min-height: 100vh;

    &-loader {
        font-family: "Rye";

        &-block {
            background-color: $primaryColour;
            width: 100%;
            height: calc(100vh - 30px);
            animation: fadeInHome 0.5s 1s forwards ease-in;
        }

        .letter {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 80px;
            letter-spacing: 0.5rem;
        }

        .letter-c {
            left: calc(50% - 154px);
            animation: letterC 1.5s 2s forwards;
        }

        .letter-a {
            left: calc(50% - 93px);
            animation: letterA 1.5s 2s forwards;
        }

        .letter-m {
            left: calc(50% - 22px);
            animation: letterM 1.5s 2s forwards;
        }

        .letter-b {
            left: calc(50% + 52px);
            animation: letterB 1.5s 2s forwards;
        }

        .letter-i {
            left: calc(50% + 99px);
            animation: letterI 1.5s 2s forwards;
        }

        .letter-o {
            left: calc(50% + 148px);
            animation: letterO 1.5s 2s forwards;
        }
    }

    &-title {
        font-family: "Rye";
    }

    &-title-letter {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        letter-spacing: 0.5rem;
    }

    .letterC {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 136px);
    }

    .lettera {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 87px);
    }

    .letterm {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 36px);
    }

    .letterb {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 26px);
    }

    .letteri {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 68px);
    }

    .lettero {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 103px);
    }

    &-body {
        display: flex;
        flex-flow: column;
        padding-top: 150px;
        width: 100%;
        min-height: calc(100vh - 150px - 150px);
    }
}

.modal {
    &-background {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        top: 0;
    }

    &-foreground {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    
    &-close {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 16px;
        width: 20px;

        img {
            width: 25px;
        }
    }
    
    &-image {
        position: relative;
        border-radius: 10px;
        width: 80%;

        .modal-img {
            width: calc(100%);
        }
    }
}

@keyframes fadeInHome {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes letterC {
    0% {
        opacity: 1;
    }
    90% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% - 154px);
    }
    95% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 136px);
    }
}

@keyframes letterA {
    0% {
        opacity: 1;
    }
    80% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% - 93px);
    }
    90% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 87px);
    }
}

@keyframes letterM {
    0% {
        opacity: 1;
    }
    70% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% - 22px);
    }
    82% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% - 36px);
    }
}

@keyframes letterB {
    0% {
        opacity: 1;
    }
    60% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% + 52px);
    }
    80% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 26px);
    }
}

@keyframes letterI {
    0% {
        opacity: 1;
    }
    50% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% + 99px);
    }
    75% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 68px);
    }
}

@keyframes letterO {
    0% {
        opacity: 1;
    }
    40% {
        transform: scale(1) translate(-50%, -50%);
        top: 50%;
        left: calc(50% + 148px);
    }
    65% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(0.7) translate(-50%, -50%);
        top: 70px;
        left: calc(50% + 103px);
    }
}
